.product-selection {
  justify-content: center;
  gap: 8px;
}
.product-selection-section button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-row{
  display: flex;
  gap: 20px
}

.product-card {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product-card:hover {
  background-color: #f0f0f0;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product-name {
  margin: 8px 0;
  font-weight: bold;
}

.product-stock{
  background-color: lightgreen;
  margin-bottom: 10px;
  width: 100%;
}

.product-out-of-stock{
  background-color: lightcoral;
  margin-bottom: 10px;
  width: 100%;
}

  
  