.vending-machine-container h1 {
    text-align: center;
    padding: 10px
}

.vending-machine{
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
}
  
.product-selection-section{
    display: flex;
}

.money-insertion-section .coins {
  margin-bottom: 20px;
}

.coins button{
  width: 75px;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  background-color: #f0ad4e;
  line-height: 75px;
}

.unit-related-information{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.unit-related-information .format {
  display: flex;
  flex-direction: column;
}

.balance {
  font-size: 32px;
  text-align: center;
}
.change{
  font-size: 32px;
  text-align: center;
}

.refund {
  display: flex;
  justify-content: center;
}

.refund-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  background-color: red;
}

.extra-interactions-section{
  display: flex;
  gap: 10px;
  margin-left: 75%;
  margin-bottom: 20px;
}

.transaction-history-section{
  display: flex;
  margin-left: 75%;
}

